$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-dark: #f76707;
$color-secondary-light: #ffd43b;

$color-tertiary-dark: #4263eb;
$color-tertiary-light: #228be6;

$color-grey-light-1: #f7f7f7;

$color-black: #000;
$color-grey-dark: #777;
$color-grey-light: #e4e4e4;
$color-white: #fff;
