@keyframes moveInLeft {
  0% {
    transform: translateX(-30rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    transform: translateX(30rem);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes moveInBottom {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateX(0);
  }
}
